# ignore everything
**/*

# except
!/api
!/scripts
!tests
!.dockerignore
!Dockerfile
!docker-compose.yml
!requirements.txt
!requirements-dev.txt
!docker-entrypoint.sh
!uwsgi.ini


# but still remove
/api/.env
__pycache__/
