dist: xenial
language: python
python:
  - "3.7"

# command to install dependencies
install:
  - pip install --upgrade pip
  - pip install -r requirements.txt

# command to run tests
script:
 - pytest test

after_success:
 - bash < (curl -s https://codecov.io/bash)
