

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
      {% if title %}
      {{ title }}
      {% else %}
      Cleaning Script API
      {% endif %}
    </title>
  </head>
  <style>
      .main-container {
          margin-top: 10px;
      }
      {% block style %}
      {% endblock %}
  </style>
  <body>

    <div class="container main-container">
        <div class="card">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="alert alert-primary" role="alert">
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </div>
              {% endif %}
              {% endwith %}
            <div class="card-body">
              {% block content %}{% endblock %}
          </div>
        </div>
    </div>

    <!-- <a class="twitter-timeline" href="https://twitter.com/theoryffel?ref_src=twsrc%5Etfw">Tweets by theoryffel</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
        $('.popover-dismiss').popover({
          trigger: 'focus'
        })
    </script>
  </body>
</html>
